@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 203, 203, 203;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color:aliceblue;
  /* background: rgb(var(--background-start-rgb));  */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.font-castoro {
  font-family: 'Castoro Titling', "cursive";
  letter-spacing: 2px;
}
  
.font-signika {
  font-family: 'Signika', "sans-serif"; 
.bus-form{
  width: 600px;
}
.update-form{
  width: 600px;
}
}